.Header-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left:0;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  position: fixed;
  background-color: transparent;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.Header-wrapper.scrolled,
.Header-wrapper.scrolled a,
.Header-wrapper.scrolled span{
  background-color: rgb(255, 255, 255);
  color: var(--duke-blue) !important;
}

.Header-wrapper,
.Header-wrapper a,
.Header-wrapper span,
.Header-wrapper img {
  transition: inherit;
}

.Header-body {
  width: 82vw !important;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 700px) {
  .Header-body {
    width: 88vw !important;
  }
  .Header-navbar {
    visibility: visible !important;
  }
  .Header-hamburger {
    display: none !important;
  }
}

@media (min-width: 1500px) {
  .Header-nav {
    font-size: 1.2rem;
  }
}

.Header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 15vw;
  /* fix min-width back to 20vw when have more page */
}

.Header-navbar {
  visibility: hidden;
  color: white;
}

.Header-nav a {
  margin-right: 3vw;
  color: white;
}

.Header-nav .active{
  text-underline-offset: 5px;
  text-decoration: underline;
}

.Header-hamburger {
  display: block;
  color: white;
  transition: color 0.5s ease-in-out;
}
.Header-hamburger.scrolled{
  color: var(--duke-blue) !important;
}

.Header-hamburger:hover {
  cursor: pointer;
}

#Header-logo img{
  width: 20px;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}
/* figure out how to add this class to whatever header section is currently active*/
.section-active {
  text-decoration: underline solid var(--light-peach) 3px;
  text-underline-offset: 5.5px;
}