

.Header-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
}

.Header-body {
  width: 82vw !important;
  padding-top: 25px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 700px) {
  .Header-body {
    width: 88vw !important;
  }
  .Header-navbar {
    visibility: visible !important;
  }
  .Header-hamburger {
    display: none !important;
  }
}

.Header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 30vw
}

.Header-navbar {
  visibility: hidden;
  color: white;
}

.Header-nav a {
  margin-right: 3vw;
  color: white;
}

.Header-hamburger {
  display: block;
  color: white;
}

.Header-hamburger:hover {
  cursor: pointer;
}

#Header-logo img{
  width: 20px;
  height: auto;
}
/* figure out how to add this class to whatever header section is currently active*/
.section-active {
  text-decoration: solid underline var(--light-peach) 3px;
  text-underline-offset: 5.5px;
}
