@media (min-width: 450px) {
  .Hook-header {
    font-size: 4.5rem !important;
    line-height: 7rem !important;
  }
  .Hook-subheader {
    font-size: 1.6rem !important;
    line-height: 3rem !important;
    /* width: 80%; */
  }
}

@media (min-width: 768px) {
  .Hook-header {
    font-size: 7rem !important;
    line-height: 8.5rem !important;
  }
  .Hook-subheader {
    font-size: 2rem !important;
    line-height: 3rem !important;
    /* width: 70%; */
  }
  .Hook-wrapper img {
    display: block !important;
  }
}

@media (min-width: 1000px) {
  .Hook-wrapper img {
    top: 100px !important;
    height: 500px !important;
  }
  
}

.Hook-header {
  font-size: 3.5rem;
  line-height: 4.5rem;
  max-width: 30vw;
}

.Hook-subheader {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-top: 3.5rem;
  color: var(--light-blue);
  margin-bottom: 2rem;
  min-width: 50vw;
}

.Hook-wrapper {
  display: flex;
  margin-bottom: 10vh;
}

.Hook-wrapper img {
  display: none;
  opacity: .7;
  height: 400px;
  position: relative;
  top: 150px;
  width: auto;
  z-index: -1;
}