@media (min-width: 450px) {
  .Hook-header {
    margin-top: 7vh;
    font-size: 3.4rem !important;
    line-height: 5rem !important;
    padding-left: 2vw;
  }
  .Hook-subtext{
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    max-width: 50vw !important;
  }
  .Hook-subheader {
    font-size: 1.2rem !important;
    line-height: 1.5rem !important;
    max-width: 40vw;
  }
}

@media (min-width: 768px) {
  .Hook-header {
    margin-top: 7vh;
    font-size: 4rem !important;
    line-height: 6rem !important;
    padding-left: 0vw !important;
  }
  .Hook-subtext {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    max-width: 45vw !important;
  }
  .Hook-subheader {
    font-size: 1.3rem !important;
    line-height: 2rem !important;
    max-width: 20vw;
  }
}

.Hook-header {
  font-size: 3rem;
  line-height: 4.5rem;
  max-width: 50vw;
}

.Hook-subheader {
  font-size: 1rem;
  line-height: 2.5rem;
  margin-top: 3.5rem;
  font-weight: 200;
  color: white;
  margin-bottom: 2rem;
  text-align: left;
}

.Hook-subtext {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: 0.2rem;
  font-weight: 200;
  color: white;
  max-width: 40vw;
}

.Hook-wrapper {
  display: flex;
  margin-bottom: 10vh;
  width: 100vw;
  color: white;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}