.Video-header {
  margin-bottom: 4rem;
  font-size: 4rem;
}

.Video-body {
  display: flex;
}

.Video-body-description {
  max-width: 40%;
  margin-left: 10vw;
}

.Video-body-description div {
  line-height: 1.8;
  font-size: 1.3rem;
}