@import 'global.css';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header-accent {
  background-color: var(--duke-blue);
  z-index: 1;
  padding: 10px;
  width: 100vw;
}

.App-body {
  width: 86vw;
  margin-left: auto;
  margin-right: auto;  
}

.App-section {
  height: 70vh;
  padding-top: 40px;
  width: inherit;
  margin-right: auto;
  text-align: left;
  opacity: 0;
	transform: translateY(50px);
	transition: opacity .8s, transform .8s;
  margin-bottom: 0vh;
}

.App-body-section {
  height: 100vh;
  margin-bottom: 15vh;
}

.App-problem {
  margin-bottom: 20vh;
  /* height: 60vh; */
}

.App-problem-header {
  display: inline-block;
  line-height: 4.5rem;
  font-size: 3rem;
  width: 40%;
}

.sticky {
  position: sticky;
  top: 12vh;
}

.App-problem-body {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  float: right;
}

.App-problem-body > div:first-child {
  line-height: 3rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: gray;
}

.App-problem-body > div:last-child {
  padding: 2vw;
  font-size: 18px;
  line-height: 1.3;
  border-radius: 15px;
  margin-top: 4vh;
  border: 1px solid gray;
}

#section-one {
  width: 75vw;
  font-size: 6rem;
  line-height: 8rem;
  padding-right: 5rem;
}

#section-one-video:hover {
  cursor: pointer;
}

.App-problem-button-carousel {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 6px;
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.activeButton {
  background-color: var(--duke-blue);
  color: white;
}
button {
  color: gray;
  background-color: white;
  border: none;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
}

.Footer-accent {
  background-color: black;
  z-index: 1;
  padding: 10px;
  width: 100vw;
}