@import 'global.css';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header-accent {
  background-color: var(--duke-blue);
  z-index: 1;
  padding: 10px;
  width: 100vw;
}

.App-body {
  width: 86vw;
  margin-left: auto;
  margin-right: auto;  
}

.App-section {
  height: 100vh;
  padding-top: 40px;
  width: inherit;
  margin-right: auto;
  text-align: left;
}

#section-one {
  width: 75vw;
  font-size: 6rem;
  line-height: 8rem;
  padding-right: 5rem;
}