@import 'global.css';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header-accent {
  background-color: var(--duke-blue);
  z-index: 1;
  padding: 10px;
  width: 100vw;
}

.App-body {
  width: 86vw;
  display: block;
  margin-left: auto;
  margin-right: auto;  
}

.App-section {
  height: 70vh;
  padding-top: 40px;
  width: inherit;
  margin-right: auto;
  text-align: left;
  opacity: 0;
	transform: translateY(50px);
	transition: opacity .8s, transform .8s;
  margin-bottom: 0vh;
}

.App-body-section {
  height: 100vh;
  margin-bottom: 15vh;
}

/* ------------------ 3 problems section styling------------------ */

@media (min-width: 1050px) {
  .sticky {
    position: sticky;
    top: 12vh;
  }
  .App-problem-header {
    line-height: 4.5rem;
    font-size: 3rem;
    width: 40%;
  }
  .App-problem-body {
    width: 50%;
    margin-top: 0px;
  }
  .App-problem-body > div:first-child {
    font-size: 2rem;
    line-height: 3rem;
  }
  .App-problem-body > div:last-child {
    /* min-height: 40vh; */
    padding: 2vw !important;
    margin-bottom: 2vh;
  }
  .App-problem-header img {
    display: block !important;
  }
}

.App-problem {
  margin-bottom: 20vh;
}

.App-problem-header {
  display: inline-block;
  line-height: 4.5rem;
  font-size: 3rem;
}

.App-problem-header img {
  display: none;
  width: 260px;
  height: auto;
  opacity: .75;
  margin-left: 20px;
  margin-top: 5vh;
}

.App-problem-body {
  height: auto;
  display: flex;
  flex-direction: column;
  float: right;
}

.App-problem-body > div:first-child {
  line-height: 2.8rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: gray;
}

.App-problem-body > div:last-child {
  padding: 2vw 4vw;
  color: rgb(95, 95, 95);
  font-size: 20px;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  border-radius: 15px;
  margin-top: 4vh;
  border: 1px solid gray;
  height: auto;
}

#section-one {
  width: 75vw;
  padding-right: 5rem;
  margin-bottom: 15vh;
}

#section-one-video:hover {
  cursor: pointer;
}

.App-problem-button-carousel {
  border: 1px solid gray;
  border-radius: 25px;
  padding: 6px;
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.liberata-active-button {
  background-color: var(--duke-blue);
  color: white;
}

.old-system-active-button {
  background-color: gray;
  color: white;
}

button {
  color: gray;
  background-color: white;
  border: none;
  height: 35px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
}

/* -------------------------------------------------- */

.Footer-accent {
  background-color: black;
  z-index: 1;
  padding: 10px;
  width: 100vw;
}