/* Global styles go here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Variables that dictate the color scheme of the site */
  --accent-blue: #1384FF;
  --duke-blue: #050599;
  --light-blue: #7CACED;
  --light-peach: #F7E2DA;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  color: rgb(88, 86, 86);
}